.theme_img_size {
  width: inherit;
  height: inherit;
}
.mrgn_lft_15{
  margin-left: 15px;
}

.mrgn_top_2{
  margin-top: 2px;
}

.mrgn_lft_2_pt{
  margin-left: 2%;
}

.modal_template{
  width: 500px;
}
@media screen and (min-width: 990px){
.col-md-5 {
    width: 50%;
}
}

@media screen and (min-width: 1020px){
.col-md-5 {
    width: 49%;
}
}
@media screen and (min-width: 1049px) and (max-width: 1099px){
.col-md-5 {
    width: 50%;
}
}

.fancybox-skin .fancybox-close {
    position: fixed;
    top: 30px;
    right: 35px;
    background-image: url(sprite.png);
    background-position: 0 -482px;
    width: 20px;
    height: 20px;
    }
.fancybox-skin{
  background-color: white !important;
  border-radius: 0px !important;
}   
.fancybox-opened .fancybox-skin {
    box-shadow: none!important;
}

.img_res{
  width: 100%;
  height: 250px; 
}