.modal-backdrop{
  z-index: -1;
}

.restore-modal{
  top: 25%;
}

.notice-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background: #1c77c3;
  z-index: 999;
}
.notice-bar-inner{
  padding: 13px 45px;
  font-size: 14px;
  line-height: 34px;
  color: #fff;
  position: relative;
  zoom: 1;
}

.pull-right {
  float: right;
}

.notice-bar-inner .btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid #96d4eb;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}